<div class="c">
       <ng-container *ngIf="user.full_name">
              <div class="row">
                     <h1> Thank you, {{user.full_name}}</h1>
                     <span>
                            <i class="bi bi-check2"></i> Your user has been successfully creaed
                     </span>

                     <div>
                            <h3>in order to fit the simulator you need to have a short questionnaire</h3>
                     </div>

                     <div class="col-auto">
                            <button (click)='check()' type="submit" class="btn btn-primary mb-3">LET"S START</button>
                     </div>
                     <div class="z"> {{user.full_name}}</div>
              </div>
       </ng-container>

</div>