<!-- <div class="container m-5">
<h1>welcom,admin</h1>
<h1>welcom,superviser</h1>
<form class="row" (ngSubmit)="creatSuperviser()" #superviserFrom="ngFrom"  >{{superviserFrom}}
    <div class="col-4">
        <label>ID number</label>
        <input type="text"[(ngModel)]="superviser.Id" name="Id" class="form-control" required #id="ngModel">
    </div>

    <div class="col-4">
        <label>fullName</label>
        <input type="text"[(ngModel)]="superviser.fullName" name="fullName" class="form-control" required #id="ngModel">
    </div>

    <div class="col-4">
        <label>password</label>
        <input type="text"[(ngModel)]="superviser.password" name="password" class="form-control" required #id="ngModel">
    </div>

<div class="col-6; m-5">
<input [disabld]="!superviserFrom.valid" type="submit" class="btn-btn primary" style="width: 150px; height: 60px; margin: left 39%;" >

</div>

</form>



</div>  -->

