<div class="parallax"></div>
<div style="height:100px; background-color:aqua; font-size:36px">
    Interns and students welcome,
</div>
<div class="parallax1"></div>
<div style="height:100px; background-color: aquamarine; font-size:36px">
    The site offers many detailed exercises and solutions,

</div>
<div class="parallax2"></div>
<div style="height:150px; background-color: cadetblue; font-size:36px">
    And at the end also tests .... Enjoy!

</div>

<!-- <app-upload-details></app-upload-details>
<app-upload-list></app-upload-list> -->
<!-- 

<div class="container" style="width:600px">
    <div>
      <h3>bezkoder.com</h3>
      
    </div>
  
    <div class="my-3">
      <app-upload-form></app-upload-form>
    </div>
  
    <div class="my-2">
      <app-upload-list></app-upload-list>
    </div>
  </div> -->